<!DOCTYPE html>
<html>
<head>
	<title><%= 	title %></title>
	<%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>
</head>
<body>	
	<div class="container">
		<%= render 'layouts/header' %>
		<section class="round span-17">
			<%= yield %>
		</section>
		<%= render 'layouts/footer' %>
		<div class="span-18">
		<%= debug(params) if Rails.env.development? %>
		</div>
	</div>
</body>
</html>	